.wrapper[data-form-wrapper] {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url('https://sso.ajou.ac.kr/common/css/images/bg.jpg') no-repeat center center/cover;
    > [data-form] {
        position: absolute;
        display: flex;
        flex-direction: row;
        min-width: 90vw;
        min-height: 60vh;
        max-height: 90vh;
        overflow: scroll;
        top: 50%;
        left: 50%;
        text-align: center;
        background: #fff;
        box-shadow: 0 0 10px rgba(0,0,0,.24);
        transform: translate(-50%, -50%);
        > header {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            min-width: 300px;
            padding: 10px;
            justify-content: center;
            align-items: center;
            background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
            color: #fff;
            > h1 {
                font-size: 2.5rem;
                text-shadow: 0 0 8px rgba(0,0,0,.24);
                > small {
                    font-size: 1.6rem;
                }
                margin-bottom: .8rem;
            }
            > small {
                font-size: .8rem;
            }
        }
        > form {
            position: relative;
            display: flex;
            flex-direction: column;
            flex-grow: 2;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 10px;
            text-align: center;
            background: #eee;
            > hr {
                width: 100%;
            }
            > header {
                font-weight: 700;
                font-size: 2em;
                color: #4b6ab9;
            }
            > .input-form {
                position: relative;
                width: 100%;
                > input, select {
                    font-size: .85em;
                }
                > input:not([type="checkbox"]) {
                    position: relative;
                    width: calc(90% - 20px);
                    padding: 5px 10px;
                    margin-top: 15px;
                    border-radius: .8rem;
                    outline: none;
                    border: none;
                    box-shadow: 0 2px 2px rgba(36, 37, 38, 0.08);
                    transition: box-shadow 0.25s ease 0s, transform 0.25s ease 0s, transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
                    &:focus {
                        box-shadow: 1px 5px 7px rgba(36, 37, 38, 0.13);
                    }
                }
                > .auto-validate-noti {
                    position: relative;
                    font-size: .6em;
                    width: calc(90% - 20px);
                    text-align: left;
                    left: 50%;
                    transform: translateX(-50%);
                    margin: 5px 0;
                    color: blue;
                }
                > .auto-validate-noti.duplicated {
                    color: red;
                }
                select {
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    padding: 5px 10px;
                    position: relative;
                    width: 90%;
                    margin-top: 15px;
                    border-radius: .8rem;
                    outline: none;
                    border: none;
                    box-shadow: 0 2px 2px rgba(36, 37, 38, 0.08);
                }
                > input[type="email"], input[type="password"], input[type="submit"] {
                    font-size: .85em;
                }
                > input:valid {
                    color: #fff;
                    &::placeholder{
                        color: #fff;
                    }
                    background: #4b6ab9;
                }
                > input.duplicated {
                    color: #fff;
                    &::placeholder {
                        color: #fff;
                    }
                    background: red;
                }
                > input[type="submit"] {
                    cursor: pointer;
                    color: #fff;
                    background: #6a11cb;
                    transition: background-color .2s ease-in .2s;
                    &:hover {
                        background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
                        box-shadow: 1px 5px 7px rgba(36, 37, 38, 0.13);
                    }
                }
                > label {
                    font-size: .75rem;
                    margin-bottom: .75rem;
                }
                > input[type="button"] {
                    cursor: pointer;
                    color: #fff;
                    background: #6a11cb;
                    transition: background-color .2s ease-in .2s;
                    &:hover {
                        background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
                        box-shadow: 1px 5px 7px rgba(36, 37, 38, 0.13);
                    }
                }
                > a {
                    display: block;
                    font-size: .8rem;
                    text-decoration: none;
                }
                display: block;
            }
            > footer {
                > span {
                    font-size: .65em;
                    > a {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

@media (max-width: 720px) {
    .wrapper[data-form-wrapper] {
        [data-form] {
            flex-direction: column;
            > header {
                min-height: 150px;
                > h1 {
                    line-height: 1;
                }
            }
            > header, form {
                width: calc(100% - 20px);
            }
        }
    }
}