.wrapper[data-form-wrapper] {
    position: relative;
    width: 100vw;
    height: 100vh;
    > [data-form] {
        position: absolute;
        display: flex;
        min-width: 90vw;
        min-height: 600px;
        max-height: 90vh;
        top: 50%;
        left: 50%;
        text-align: center;
        background: #fff;
        box-shadow: 0 0 10px rgba(0,0,0,.24);
        box-sizing: border-box;
        transform: translate(-50%, -50%);
        > header {
            display: flex;
            width: 100%;
            flex: 1;
            flex-grow: 1;
            flex-direction: column;
            padding: 10px;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
            color: #fff;
            > h1 {
                font-size: 2.5rem;
                text-shadow: 0 0 8px rgba(0,0,0,.24);
                line-height: 1.2;
                > small {
                    font-size: 1.6rem;
                }
                margin-bottom: .8rem;
            }
            > small {
                font-size: .8rem;
            }
        }
        > form {
            position: relative;
            display: flex;
            flex-direction: column;
            flex: 1;
            flex-grow: 2;
            align-items: center;
            width: 100%;
            text-align: center;
            overflow-y: scroll;
            background: rgba(238, 238, 238, .5);
            padding: 3rem 0;
            > hr {
                width: 100%;
            }
            > header {
                font-weight: 700;
                font-size: 2em;
                color: #4b6ab9;
                line-height: 1.2;
                margin-bottom: 2rem;
            }
            > .input-form-wrapper {
                position: relative;
                width: 100%;
                > .input-form {
                    > a {
                        margin-top: 5px;
                    }
                    > input, select, label {
                        font-size: .85em;
                    }
                    select {
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none;
                        padding: 5px 10px;
                        position: relative;
                        width: 90%;
                        margin-top: 15px;
                        border-radius: .8rem;
                        outline: none;
                        border: none;
                        box-shadow: 0 2px 2px rgba(36, 37, 38, 0.08);
                    }
                    input[type="button"] {
                        cursor: pointer;
                        color: #fff;
                        background: #6a11cb;
                        &.radio {
                            font-weight: bold;
                            padding: 5px 1rem;
                            margin-right: 5px;
                            &:last-of-type {
                                margin: 0;
                            }
                        }
                        &:hover {
                            background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
                            box-shadow: 1px 5px 7px rgba(36, 37, 38, 0.13);
                        }
                        &:disabled, &.radio-selected {
                            background: grey;
                        }
                        &.mini-inline {
                            display: inline-block;
                            font-size: .75em;
                        }
                    }
                    > input[name="IDNum"]:disabled {
                        display: none;
                    }
                    > input[name="passwordConfirm"].error {
                        background: red;
                        color: white;
                        &::placeholder {
                            color: #fff;
                        }
                    }
                    > input:not([type="checkbox"]):not(.mini-inline) {
                        position: relative;
                        width: calc(90% - 20px);
                        padding: 5px 10px;
                        margin-top: 15px;
                        outline: none;
                        box-sizing: border-box;
                        box-shadow: 0 2px 2px rgba(36, 37, 38, 0.08);
                        transition: box-shadow 0.25s ease 0s, transform 0.25s ease 0s, transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
                        &:focus {
                            box-shadow: 1px 5px 7px rgba(36, 37, 38, 0.13);
                        }
                    }
                    > input:not([type="checkbox"]):not([type="submit"]) {
                        border: 2px solid;
                        border-image-source: linear-gradient(135deg, transparent 0%, transparent 100%);
                        border-image-slice: 1;
                        &:focus {
                            border-image-source: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
                        }
                    }
                    > .auto-validate-noti {
                        position: relative;
                        font-size: .6em;
                        width: calc(90% - 20px);
                        text-align: left;
                        left: 50%;
                        transform: translateX(-50%);
                        margin: 5px 0;
                        color: blue;
                    }
                    > .auto-validate-noti.error {
                        color: red;
                    }
                    > input[type="email"], input[type="password"], input[type="submit"] {
                        font-size: .85em;
                    }
                    > input:not(.error):valid {
                        color: #fff;
                        &::placeholder{
                            color: #fff;
                        }
                        background: #4b6ab9;
                    }
                    > input.error {
                        color: #fff;
                        &::placeholder {
                            color: #fff;
                        }
                        background: red;
                    }
                    > input[type="submit"] {
                        border: none;
                        padding: 1rem 0;
                        cursor: pointer;
                        color: #fff;
                        background: #6a11cb;
                        transition: .2s all ease-in-out;
                        &:hover {
                            background: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
                            box-shadow: 1px 5px 7px rgba(36, 37, 38, 0.13);
                        }
                    }
                    > a {
                        display: block;
                        font-size: .8rem;
                        text-decoration: none;
                    }
                    display: block;
                }
                > .input-form-horizontal {
                    display: flex;
                    font-size: .85em;
                    flex-direction: row;
                    margin: 0 calc(5% + 10px);
                    margin-top: 5px;
                    padding: 5px 10px;
                    & .input-form-title {
                        flex: 1;
                        color: #333;
                        text-align: left;
                    }
                    & div[class$="-wrapper"] {
                        flex: 4;
                        text-align: right;
                    }
                    + .input-form > input {
                        margin-top: 5px;
                    }
                }

            }
            > footer {
                margin-top: auto;
            }
        }
    }
}

@media (max-width: 720px) {
    .wrapper[data-form-wrapper] {
        [data-form] {
            flex-direction: column;
            > header {
                min-height: 150px;
                > h1 {
                    line-height: 1;
                }
            }
        }
    }
}

@media (min-width: 940px) {
    [data-form] {
        min-width: 60vw !important;
    }
}

@media (min-width: 1200px) {
    [data-form] {
        > header {
            min-width: 300px;
        }
    }
}