@import "~@/assets/styles/reset";
@import "~@/assets/styles/fonts";
@import "~@/assets/styles/variables";

@import "~@/assets/styles/components/Swal2";
@import "~@/assets/styles/components/BuefyCustom";
@import "~@/assets/styles/components/FlashCustom";
@import "~@/assets/styles/components/Button";
@import "~@/assets/styles/components/Link";
@import "~@/assets/styles/components/Form";

::-webkit-scrollbar {
  display: none;
}

::selection {
  background: #667eea;
  color: $white;
}

.content-wrapper {
  padding: .8rem;
}

body {
  font: {
    family: 'Montserrat', 'NanumSquare', 'Source Sans Pro', 'KoPub Dotum', 'MalgeunGothic', 'AppleGothic', sans-serif;
    weight: 300;
    size: 18px;
  }
  line-height: 1.6;
  overflow-x: hidden;
  &.#{$auth} {
    background: url('https://sso.ajou.ac.kr/common/css/images/bg.jpg') no-repeat center center/cover;
  }
  box-sizing: border-box;
  &.loading {
    > #app > .loader {
        display: block;
        animation: fadeIn .5s;
        > .wrapper {
          > p {
            > strong {
              color: $white;
            }
          }
        }
    }
  }
}

// Loading
.loader {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  color: $white;
  background: rgba(0,0,0,.95);
  z-index: 10000000000;
  > .wrapper {
      position: relative;
      top: 50%;
      text-align: center;
      transform: translateY(-50%);
      > .logo {
          margin-bottom: 1rem;
          > img {
              width: 120px;
              transform: perspective(1000px) rotateY(-10deg);
              transform-style: preserve-3d;
              -webkit-animation: load-spinner 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) both infinite;
              animation: load-spinner 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) both infinite;
          }
      }
  }
}

// Utils
[fix-page] {
  position: relative;
  width: 100vw;
  height: 100vh;
}

br[media] {
  display: none;
}

// Default
.underline {
  position: relative;
  margin-bottom: .8rem;
  &-inline-block {
    display: inline-block;
  }
  &-block {
    display: block;
  }
  &-animated {
    &::before {
      animation: {
        duration: 1s;
        name: underline;
      }
    }
  }
  &::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      z-index: -1;
      bottom: 1px;
      height: 20%;
      background-color: #667eea;
      transition: all .4s cubic-bezier(0.57, 0.02, 0.06, 1);
      width: 100%;
  }
}

// GNB Navigation
nav {
  &.gnb {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 45px !important;
    z-index: 1001;
    transition: .5s all ease-out;
    &.active {
      > .fixed-nav {
        background: #3e59ad;
        transition: .5s all ease-in-out;
      }
    }
    > .fixed-nav {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      padding: 8px;
      width: 100%;
      color: $white;
      box-shadow: 0 5px 5px rgba(0,0,0,.2);
      z-index: 1;
      > .icon-wrapper {
        position: relative;
        width: 20px;
        height: 20px;
        vertical-align: middle;
        margin-left: 8px;
        > .icon {
          display: inline-block;
          width: inherit;
          height: inherit;
          position: relative;
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
          -webkit-transition: .5s ease-in-out;
          transition: .5s ease-in-out;
          cursor: pointer;
          > span {
            display: block;
            position: absolute;
            height: 3px;
            width: 100%;
            background: $white;
            border-radius: 3px;
            opacity: 1;
            left: 0;
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .25s ease-in-out;
            transition: .25s ease-in-out;
            @for $i from 1 through 3 {
              &:nth-child(#{$i}) {
                top: calc(7 * #{$i - 1}px);
                transform-origin: left center;
              }
            }
          }
          &.active {
            > span {
              &:nth-child(1) {
                top: -1px;
                left: 3px;
                transform: rotate(45deg);
              }
              &:nth-child(2) {
                width: 0;
              }
              &:nth-child(3) {
                top: 13px;
                left: 3px;
                transform: rotate(-45deg);
              }
            }
          }
        }
      }
      > .header {
        margin-left: 8px;
        > h1 {
          display: inline-block;
          font-size: 18px;
          > a {
            color: $white;
          }
        }
      }
    }
    > .slide-nav {
      position: absolute;
      top: 45px;
      left: -100vw;
      width: 100%;
      height: calc(100vh - 45px);
      background: #eee;
      transition: .4s all ease;
      box-sizing: border-box;
      overflow-y: scroll;
      &.active {
        left: 0;
      }
    }
  }
  &.icon-nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 1rem;
    padding: 2rem 0;
    background: $logo_aux;
    color: $white;
    & .icon-wrapper {
      text-align: center;
      & a {
        display: flex;
        flex-direction: column;
        align-items: center;      
      }
      &:hover {
        & .icon {
          border-radius: 1rem;
        }
      }
      & .icon {
        width: 10vw;
        height: 10vw;
        transition: .2s all ease;
        box-shadow: 0 2px 5px rgba(0,0,0,.4);
      }
      & a {
        color: $white;
      }
      & p {
        margin-top: 8px;
      }
    }
  }
}

nav.static {
  + main {
    margin-top: 45px !important;
  }
}

main {
  > .wrapper {
    padding: 1rem .8rem;
  }
}

.container {
  position: relative;
  max-width: unset;
  min-height: 70vh;
  z-index: 0;
}

// Landing
.landing {
  position: relative;
  text-align: center;
  color: $white;
  padding: 6rem 0;
  z-index: 0;
  > .cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.8);
    z-index: -1;
    + header {
      > h2.header {
        font-weight: bold;
        font-size: 4vw;
      }
      > small {
        font-size: 2vw;
      }
    }
  }
}

// Board
ul.category-menu {
  background: $white;
  & li {
    display: inline-block;
    & a {
      display: inherit;
      font-size: .8rem;
      color: #000;
      padding: .5rem;
      border-right: 1px solid rgba(0,0,0,.1);
      transition: .2s all ease;
      &:hover {
        background: $logo;
        color: $white;
      }
    }
  }
  & li.active {
    background: $logo;
    & a {
      color: $white;
    }
  }
}

// Footer
.footer {
  padding: 2rem 0 0 0;
  background: #2c2c2c;
  color: $white;
  & a {
    font: {
      size: .8rem;
      weight: 300 !important;
    }
    color: inherit;
    &:visited {
      color: inherit;
    }
  }
  > .wrapper {
    width: 75%;
    margin: auto;
    > .footer-content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      min-height: 2rem;
      + hr {
        border: .5px solid rgba(255,255,255,.5);
        + p {
          font-size: .8rem;
          padding-block-start: 1em;
          padding-block-end: 1em;
        }
      }
      > .copyright {
        > li {
          display: inline-block;
          position: relative;
          margin-right: 5px;
        }
      }
    }
  }
}

// Error
#error {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  justify-content: center;
  align-items: center;
  background: $white;
  > #error_code {
      margin-top: 2rem;
      > h1 {
          text-align: center;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          line-height: 1.2;
          > span {
            font: {
              size: 4rem;
              weight: bold;
            }
            &:last-of-type {
              font: {
                size: 3rem;
              }
            }
          }
          background-image: -webkit-linear-gradient(to bottom, #a18cd1 0%, #fbc2eb 100%);
          background-image: linear-gradient(to bottom, #a18cd1 0%, #fbc2eb 100%);
          text-shadow: 0 2px 2px rgba(0,0,0,.1);
      }
  }
  > #error_desc {
      padding: 2rem 0;
      > header {
          font-size: 1.4rem;
          font-weight: 600;
      }
      > p {
        font-size: 1rem;
        margin-bottom: .5rem;
      }
  }
  > #error_nav {
      padding: 0 0 2rem 0;
  }
  > .logo {
      position: absolute;
      bottom: 2rem;
      text-align: center;
      > h2 {
          display: inline-block;
          font-size: 1.5rem;
          color: rgb(41, 61, 81);
      }
      > span {
          font-size: .8rem;
      }
  }
}

// Components
// v-select
.v-select {
  font-size: 1rem;
  background: $white;
  box-shadow: 0 2px 2px rgba(36, 37, 38, 0.08);
  >.vs__dropdown-toggle+[role="listbox"]>li {
    transition: .2s background-color ease;
    &:hover {
      color: $white !important;
      background: -webkit-linear-gradient(135deg, #667eea 0%, #764ba2 100%);
      background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    }
  }
  >.vs__dropdown-toggle+[role="listbox"]>.vs__dropdown-option--highlight {
      background: -webkit-linear-gradient(135deg, #667eea 0%, #764ba2 100%);
      background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  }
  &.error {
    >.vs__dropdown-toggle {
      background: $red;
      & input[type="search"] {
          color: $white;
      }
      & .vs__open-indicator {
          fill: $white;
      }
    }
  }
}

// Slide
[data-slide-item] {
  display: block;
  position: relative;
  z-index: 0;
  > .cover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,.75);
      z-index: -1;
  }
  > .slide-content {
      position: absolute;
      line-height: 1;
      bottom: 2.4rem;
      left: 1rem;
      z-index: 1;
      > h2 {
          margin-block-start: 0;
          margin-block-end: 0;
      }
  }
  background: url('http://www.ajou.ac.kr/_attach/new/_images/2020/02/20/200220_main_visual02.jpg') no-repeat center center/cover;
  color: $white;
  font-size: 1.5rem;
  min-height: 12rem;
}

// Broadcast
.broadcast {
  border: 1px solid #eee;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  padding: 0.5rem 0.75rem;
  > .feather {
      margin-right: 0.5rem;
  }
  > .carousel {
      flex: 1;
  }
  &-content {
      align-items: center;
      display: flex;
      justify-content: space-between;
  }
}

// 프로필 이미지
figure {
  position: relative;
  display: inline-block;
  margin: 0;
  width: 80px;
  height: 80px;
  max-width: 80px;
  max-height: 80px;
  overflow: hidden;
  &:hover {
    > .cover {
      cursor: pointer;
      display: flex;
    }
  }
  > .cover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.8);
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 2;
    > label.upload {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }
    & strong {
      color: $white;
    }
  }
  > img {
    position: relative;
    width: 100%;
    height: 100%;
  }
}