::selection {
  background: #667eea;
  color: #fff;
}

body {
  font-family: 'KoPubDotumMedium', 'MalgeunGothic', 'AppleGothic', sans-serif;
  font-size: 18px;
  line-height: 1.6;
}

body.auth {
  overflow-x: hidden;
  background: url('https://sso.ajou.ac.kr/common/css/images/bg.jpg') no-repeat center center/cover;
}

a {
  text-decoration: none;
}

a:not(:visited) {
  font-weight: bold;
}

// Utils
.divider {
  margin: 1rem 0;
}

// Font
.logo-font {
  font-family: 'yg-jalnan' !important;
}

[text-divider] {
  display: inline-block;
  font-size: .8rem;
  padding: 0 10px;
}

[text-divider-block] {
  display: block;
  font-size: .4em;
  padding: 0 10px;
}

small {
  font-size: .4em;
}

// Default

nav.gnb {
  position: fixed;
  width: 90vw;
  height: 90vh;
  bottom: calc(-90vh + 40px);
  left: 50%;
  transform: translateX(-50%);
  border-radius: 1rem 1rem 0 0;
  color: #fff;
  text-align: center;
  background: linear-gradient(to right, rgb(133, 91, 218), rgb(165, 135, 212));
  padding: 10px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, .48);
  transition: .2s all cubic-bezier(0.250, 0.460, 0.450, 0.940);
  z-index: 100000;
  &:hover {
    bottom: 5px;
  }
  > .logo {
    padding: 0 20px;
    > h1 {
      display: inline-block;
      font-weight: 100;
      font-family: 'yg-jalnan';
      font-size: 30px;
      text-shadow: 0 0 10px rgba(0, 0, 0, .24);
    }
  }
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 50px;
  padding-top: 50px;
}

footer.footer {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  font-size: .8em;
  margin-top: auto;
  padding: 10px;
  background: rgb(23, 85, 62);
  color: #fff;
  text-align: left;
  & a {
    font-weight: bold;
    color: #fff;
  }
}
