::selection {
  background: #667eea;
  color: #fff;
}

body {
  font-family: 'KoPubDotumMedium', 'MalgeunGothic', 'AppleGothic', sans-serif;
  font-size: 18px;
  line-height: 1.6;
}

body.auth {
  overflow-x: hidden;
  background: url('https://sso.ajou.ac.kr/common/css/images/bg.jpg') no-repeat center center/cover;
}

a {
  text-decoration: none;
}

a:not(:visited) {
  font-weight: bold;
}

// Utils
.divider {
  margin: 1rem 0;
}

// Font
.logo-font {
  font-family: 'yg-jalnan' !important;
}

[text-divider] {
  display: inline-block;
  font-size: .8rem;
  padding: 0 10px;
}

[text-divider-block] {
  display: block;
  font-size: .4em;
  padding: 0 10px;
}

small {
  font-size: .4em;
}

// Default
nav.gnb {
  position: fixed;
  z-index: 1000000;
  box-shadow: 0 5px 5px rgba(0,0,0,.2);
  & .section.always-open {
    padding: 1rem 3rem;
    & .title {
      font-size: 1.5rem;
      color: #17553E;
      text-shadow: 0 3px 5px rgba(0,0,0,.24);
    }
  }
  & .section.open {
      display: block;
  }
  & .section.closed {
      display: none;
  }
}

nav.gnb.deactivated {
  > .section.always-open {
    background: #fff;
    border-radius: 1rem;
  }
}

.container {
  padding: 2rem 0;
  position: relative;
  min-height: 100vh;
  z-index: 0;
}

// Landing
.landing {
  position: relative;
  text-align: center;
  color: #fff;
  padding: 20vh 0;
  z-index: 0;
  > .cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.8);
    z-index: -1;
    + header {
      > h2.title {
        font-weight: bold;
        font-size: 4vw;
      }
      > small {
        font-size: 2vw;
      }
    }
  }
}

// Footer
footer.footer {
  padding: 2rem 0 0 0;
  background: #2c2c2c;
  color: #fff;
  & .footer-wrapper {
    width: 75%;
    margin: auto;
    & .footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      min-height: 2rem;
      + hr {
        border: .5px solid rgba(255, 255, 255, 0.5);
      }
      & ul {
        & li {
          display: inline-block;
          margin-right: 5px;
          & a {
            font-size: .8rem;
            color: #fff;
            &:visited {
              color: inherit;
            }
          }
        }
      }
    }
  }
  & p {
    font-size: .8rem;
    padding-block-start: 1em;
    padding-block-end: 1em;
  }
}