@keyframes underline {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
} 

@keyframes load-spinner {
    0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    }
    100% {
        -webkit-transform: rotateY(180deg);
                transform: rotateY(180deg);
    }
}
@-webkit-keyframes load-spinner {
    0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    }
    100% {
        -webkit-transform: rotateY(180deg);
                transform: rotateY(180deg);
    }
}

@-webkit-keyframes fadeOut {
    0% { opacity: 1;}
    99% { opacity: 0.01;width: 100%; height: 100%;}
    100% { opacity: 0;width: 0; height: 0;}
}  
@keyframes fadeOut {
    0% { opacity: 1;}
    99% { opacity: 0.01;width: 100%; height: 100%;}
    100% { opacity: 0;width: 0; height: 0;}
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}