// Media for responsive web
@media (max-width: 720px) {
    [data-form-center] {
        width: 90vw;
        height: 90vh;
        grid-template-rows: 150px auto;
        grid-template-columns: unset;
    }
}

@media (max-width: 720px) {
    body {
        font-size: 14px;
    }

    br[media] {
        display: block !important;
    }

    footer:not(.admin-footer) {
        > .wrapper {
            width: 85% !important;
            > .footer-content {
                flex-direction: column !important;
                > .copyright {
                    margin: .5rem 0;
                }
            }
        }
    }
}

@media (max-width: 360px) {
    body {
        font-size: 10px;
    }
}

@media (max-width: 1200px) {
    [data-form-center] {
        width: 90vw;
        height: 90vh;
    }
}