[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "==19.7.1"
flask-restplus = "*"
python-dotenv = "*"
flask = "*"
bs4 = "*"
sqlalchemy = "*"
graphene = "*"
flask-sqlalchemy = "*"
flask-graphql = "*"
flask-migrate = "*"
graphene-sqlalchemy = "*"
mysql-python = "*"
pymysql = "*"

[dev-packages]
pytest = "*"
bumpversion = "*"
pytest-sugar = "*"
pytest-cov = "*"

[requires]
python_version = "3.6"
