[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bs4 = "*"
requests = "*"
gunicorn = "==19.7.1"
flask = "*"
flask-bcrypt = "*"
flask-restful = "*"
flask-restplus = "*"
flask-migrate = "*"
python-dotenv = "*"
bcrypt = "*"
pyjwt = "*"
pymysql = "*"
werkzeug = "==0.16.0"

[dev-packages]
pytest = "*"
bumpversion = "*"
pytest-sugar = "*"
pytest-cov = "*"
