// Form Styles
.input-form-group {
    display: grid;
    grid-template-columns: 1fr 9fr;
    align-items: center;
    margin-bottom: .5rem;
    > label {
        text-align: right;
        padding-right: .5rem;
    }
}

// Input
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 5px 10px;
    position: relative;
    width: 90%;
    margin-top: 15px;
    border-radius: .8rem;
    outline: none;
    border: none;
    box-shadow: 0 2px 2px rgba(36, 37, 38, 0.08);
}

.v-select {
    margin: .8rem 0;
}

input {
    &[disabled] {
        background: grey;
        color: #fff;
    }
    &[type="password"], &[type="email"], &[type="text"], &[type="tel"] {
        position: relative;
        width: 100%;
        padding: 5px 10px;
        outline: none;
        box-sizing: border-box;
        box-shadow: 0 2px 2px rgba(36, 37, 38, 0.08);
        transition: box-shadow 0.25s ease 0s, transform 0.25s ease 0s, transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s;
        border: 2px solid;
        border-image-source: -webkit-linear-gradient(135deg, transparent 0%, transparent 100%);
        border-image-source: linear-gradient(135deg, transparent 0%, transparent 100%);
        border-image-slice: 1;
        &:not(.error):not([no-validate]) {
            &:valid {
                color: #fff;
                &::placeholder{
                    color: #fff;
                }
                background: #4b6ab9;
            }
            &:focus {
                border-image-source: -webkit-linear-gradient(135deg, #667eea 0%, #764ba2 100%);
                border-image-source: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
                box-shadow: 1px 5px 7px rgba(36, 37, 38, 0.13);
            }
        }
    }
    &[type="submit"] {
        border: none;
        padding: 1rem 0;
        cursor: pointer;
        color: #fff;
        background: #6a11cb;
        transition: .2s all ease-in-out;
        &:hover {
            background: -webkit-linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
            background: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
            box-shadow: 1px 5px 7px rgba(36, 37, 38, 0.13);
        }
    }
    &.error {
        color: #fff;
        background: $red;
        &::placeholder {
            color: #fff;
        }
    }
}

// Validation
.auto-validate-noti {
    position: relative;
    font-size: .6rem;
    text-align: left;
    left: 50%;
    transform: translateX(-50%);
    margin: 5px 0;
    color: blue;
    &.error {
        color: $red;
    }
}

// Auth Center Align
[data-form-center] {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 60vw;
    height: 50vh;
    min-width: 50vw;
    min-height: 600px;
    max-height: 95vh;
    top: 50%;
    left: 50%;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.24);
    box-sizing: border-box;
    transform: translate(-50%, -50%);
    > header {
        display: flex;
        flex-direction: column;
        padding: 0 3rem;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        background-image: -webkit-linear-gradient(135deg, #667eea 0%, #764ba2 100%);
        background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
        color: #fff;
        > svg {
            width: 15rem;
            & path {
                fill: #fff;
                box-shadow: 0 0 5px rgba(0,0,0,.8);
            }
        }
    }
}

// Form Tag Style
form {
    &[data-auth-form] {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        > .wrapper {
            position: relative;
            display: grid;
            grid-template-rows: 100px auto;
            width: inherit;
            height: inherit;
            background: rgba(238, 238, 238, .5);
            > header {
                display: block;
                width: 100%;
                font-size: 2rem;
                line-height: .8;
                padding: 2rem 0;
                color: #4b6ab9;
                > h2 {
                    display: block;
                    margin-block-start: 0;
                    margin-block-end: 0;
                    margin-inline-start: 0px;
                    margin-inline-end: 0px;
                    line-height: inherit;
                }
            }
            .input-form {
                width: inherit;
                overflow-y: scroll;
                > .input-form-wrapper {
                    position: relative;
                    width: 100%;
                    > .input-form-group {
                        padding: 0 2rem;
                        &:last-of-type {
                            margin: {
                                bottom: .8rem;
                            }
                        }
                        & input {
                            &[type="button"] {
                                cursor: pointer;
                                color: #fff;
                                background: #6a11cb;
                                &.radio {
                                    font-weight: bold;
                                    padding: 5px 1rem;
                                    margin-right: 5px;
                                    transition: .2s all ease;
                                    &:last-of-type {
                                        margin: 0;
                                    }
                                    &:hover {
                                        background: green;
                                    }
                                    &-selected {
                                        background: green;
                                    }
                                }
                                &:hover {
                                    background-image: -webkit-linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
                                    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
                                    box-shadow: 1px 5px 7px rgba(36, 37, 38, 0.13);
                                }
                                &:disabled {
                                    background: green;
                                }
                                &.mini-inline {
                                    display: inline-block;
                                    font-size: .75em;
                                }
                            }
                            &[name="IDNum"]:disabled {
                                display: none;
                            }
                            &:not([type="checkbox"]):not([type="search"]):not(.mini-inline) {
                                padding: 5px 10px;
                                margin-top: .8rem;
                            }
                            &[type="email"], &[type="password"], &[type="submit"] {
                                font-size: .85em;
                            }
                        }
                        display: block;
                    }
                    + .input-form-controls {
                        margin-top: auto;
                        padding: 1rem 0;
                    }
                }
            }
            
        }
        > footer {
            margin-top: auto;
        }
    }
    &[data-post-form] {
        color: #666;
        & .input-form {
            padding: .5rem 0;
            &:not(.editor):not(.uploads):not(.controls) {
                display: grid;
                grid-template-columns: 1fr 7fr;
            }
            & label {
                font-weight: 600;
            }
        }
        & .ck-content {
            min-height: 50vh;
        }
        & .input-form-controls {
            text-align: right;
            &.buttons {
                justify-content: flex-end;
            }
            > .btn {
                display: inline-block;
                font: {
                    size: 1rem;
                    weight: 700;
                }
                padding: .5rem 2rem;
                border: none;
                outline: none;
                cursor: pointer;
                transition: .4s all ease;
                &-submit {
                    background: blue;
                }
                &-cancel {
                    background: #cd5c5c;
                }
                &:not(:last-child) {
                    margin-right: .5rem;
                }
            }
        }
    }
}

.input-form-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: {
        top: .8rem;
    }
    > .input-form-grid-item {
        display: flex;
        align-items: center;
        &:first-child {
            font: {
                size: .8rem;
                weight: 500;
            }
            justify-content: flex-start;
        }
        &:last-child {
            justify-content: flex-end;
        }
    }
    &:last-child {
        margin: {
            bottom: .8rem;
        }
    }
}